@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.container {
  padding: 60px 10%; }

/* Menú */
header {
  width: 100%;
  background-color: #434D59;
  top: 0;
  left: 0;
  z-index: 100; }
  header #btn_menu {
    display: none;
    background-color: #fff;
    padding: 20px; }
  header label {
    display: none;
    width: 60px;
    padding: 10px;
    color: #fff;
    font-size: 30px;
    transition: all 500ms ease; }
    @media only screen and (max-width: 768px) {
      header label {
        display: block; } }
    header label:hover {
      background-color: rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 768px) {
    header .menu {
      position: absolute;
      background-color: #A69076;
      width: 100%;
      margin-top: -100%;
      transition: all 500ms ease; } }
  header .menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex; }
    @media only screen and (max-width: 768px) {
      header .menu ul {
        flex-direction: column;
        border-top: 1px solid #fff; } }
    header .menu ul li a {
      text-decoration: none;
      color: #fff;
      display: block;
      padding: 15px 20px;
      transition: all 500ms ease; }
      header .menu ul li a:hover {
        background-color: #A69076;
        cursor: pointer; }

@media only screen and (max-width: 768px) {
  #btn_menu {
    background-color: white;
    cursor: pointer; }
    #btn_menu:checked ~ .menu {
      margin: 0; } }

/* Inicio */
.portada {
  background-color: #F2EFC2;
  text-align: center; }
  .portada div h1 {
    font-size: 90px;
    color: #434D59;
    margin-top: 20px; }
    @media only screen and (max-width: 768px) {
      .portada div h1 {
        font-size: 80px; } }
    @media only screen and (max-width: 576px) {
      .portada div h1 {
        font-size: 60px;
        padding-bottom: 30px; } }
    .portada div h1::first-letter {
      color: #A69076; }
  .portada div .portada_subtitulo {
    font-size: 30px;
    font-weight: 700;
    color: #434D59;
    margin-top: -60px; }
  .portada div .portada_imagen {
    border-radius: 200px;
    border: 2px solid #fff;
    width: 140px; }

/* Servicios */
.servicios {
  background-color: #434D59; }
  .servicios .servicios_titulo {
    font-size: 115px;
    font-weight: 800;
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 0.85;
    text-align: center;
    margin-top: 40px; }
    @media only screen and (max-width: 768px) {
      .servicios .servicios_titulo {
        font-size: 95px; } }
    @media only screen and (max-width: 576px) {
      .servicios .servicios_titulo {
        font-size: 75px; } }
  .servicios .servicios_titulo_especial {
    font-size: 115px;
    font-weight: 800;
    -webkit-text-stroke: 1px white;
    color: transparent;
    opacity: 0.85;
    text-align: center;
    margin-top: 0; }
  .servicios .servicios_contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
    justify-items: center;
    align-items: center; }
    @media only screen and (max-width: 992px) {
      .servicios .servicios_contenedor {
        grid-template-columns: 1fr; } }
    .servicios .servicios_contenedor .imagen_tablet {
      display: none; }
      @media only screen and (max-width: 992px) {
        .servicios .servicios_contenedor .imagen_tablet {
          display: block; } }
    @media only screen and (max-width: 992px) {
      .servicios .servicios_contenedor .imagen_desktop {
        display: none; } }
    .servicios .servicios_contenedor .servicios_contenedor_textos {
      width: 65%; }
    .servicios .servicios_contenedor .servicios_contenedor_imagen {
      text-align: center; }
      .servicios .servicios_contenedor .servicios_contenedor_imagen .servicios_imagen {
        max-width: 90%;
        -webkit-transition: 1s linear;
        transition: 1s linear;
        background-color: #F2EFC2; }
        .servicios .servicios_contenedor .servicios_contenedor_imagen .servicios_imagen:hover {
          -webkit-box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47);
          box-shadow: 10px 10px 14px 2px rgba(0, 0, 0, 0.47); }
    .servicios .servicios_contenedor .servicios_contenedor_textos .servicios_subtitulo {
      font-size: 25px;
      font-weight: 600;
      color: #fff; }
    .servicios .servicios_contenedor .servicios_contenedor_textos .servicios_texto {
      font-size: 17px;
      color: #fff; }
    .servicios .servicios_contenedor .servicios_contenedor_textos .contenedor_btn {
      margin-top: 40px; }
      .servicios .servicios_contenedor .servicios_contenedor_textos .contenedor_btn .servicios_cta {
        text-decoration: none;
        padding: 12px 27px;
        background-color: #F2EFC2;
        color: #434D59;
        border-radius: 2px;
        font-size: 17px;
        font-weight: 600;
        -webkit-transition: background-color 0.5s linear;
        transition: background-color 0.5s linear;
        -webkit-transition: color 0.5s linear;
        transition: color 0.5s linear;
        font-weight: bolder; }
        .servicios .servicios_contenedor .servicios_contenedor_textos .contenedor_btn .servicios_cta:hover {
          background-color: #A69076;
          color: #F2EFC2; }

/* Sobre mí */
.sobremi {
  background-color: #F2EFC2;
  display: flex; }
  .sobremi .grid_sobremi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 1200px) {
      .sobremi .grid_sobremi {
        grid-template-columns: 1fr;
        text-align: center; } }
    .sobremi .grid_sobremi .sobremi_contenedor_textos {
      padding-right: 80px; }
      @media only screen and (max-width: 1200px) {
        .sobremi .grid_sobremi .sobremi_contenedor_textos {
          padding: auto 10; } }
      .sobremi .grid_sobremi .sobremi_contenedor_textos .sobremi_titulo {
        font-size: 65px;
        font-weight: 600;
        color: #434D59; }
      .sobremi .grid_sobremi .sobremi_contenedor_textos .sobremi_texto {
        font-size: 22px;
        color: #434D59;
        text-align: justify; }
    @media only screen and (max-width: 1200px) {
      .sobremi .grid_sobremi .sobremi_contenedor_imagen {
        margin-top: 30px; } }
    .sobremi .grid_sobremi .sobremi_contenedor_imagen .sobremi_imagen {
      border-radius: 250px;
      border: 5px solid #A69076;
      width: 450px; }
      @media only screen and (max-width: 576px) {
        .sobremi .grid_sobremi .sobremi_contenedor_imagen .sobremi_imagen {
          width: 350px; } }

.sobremi_especial {
  background-color: #434D59; }
  .sobremi_especial .grid_sobremi {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .sobremi_especial .grid_sobremi .sobremi_contenedor_textos {
      padding-right: 80px; }
      .sobremi_especial .grid_sobremi .sobremi_contenedor_textos .sobremi_titulo {
        font-size: 65px;
        font-weight: 600;
        color: #fff; }
      .sobremi_especial .grid_sobremi .sobremi_contenedor_textos .sobremi_texto {
        font-size: 22px;
        color: #fff;
        text-align: justify; }
    .sobremi_especial .grid_sobremi .sobremi_contenedor_imagen .sobremi_imagen {
      border-radius: 250px;
      border: 5px solid #fff;
      width: 450px; }

/* Portafolio */
.portafolio {
  background-color: #434D59; }
  .portafolio .portafolio_titulo {
    font-size: 90px;
    color: #fff;
    text-align: center;
    letter-spacing: -7px;
    margin-top: -70px; }
    @media only screen and (max-width: 992px) {
      .portafolio .portafolio_titulo {
        font-size: 80px; } }
    @media only screen and (max-width: 768px) {
      .portafolio .portafolio_titulo {
        font-size: 60px;
        padding-bottom: 30px; } }
    @media only screen and (max-width: 576px) {
      .portafolio .portafolio_titulo {
        font-size: 50px; } }
  .portafolio .grid_portafolio {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -70px; }
    @media only screen and (max-width: 768px) {
      .portafolio .grid_portafolio {
        grid-template-columns: 1fr; } }
    .portafolio .grid_portafolio .item-contenido {
      overflow: hidden;
      transition: all 500ms ease; }
      .portafolio .grid_portafolio .item-contenido img {
        width: 100%;
        transition: all 500ms ease; }
        .portafolio .grid_portafolio .item-contenido img:hover {
          transform: scale(1.2); }

/* Contacto */
.contacto {
  background-color: #F2EFC2; }
  .contacto .contacto_titulo {
    font-size: 90px;
    font-weight: 800;
    color: #434D59;
    text-align: center;
    letter-spacing: -5px;
    margin-top: 20px; }
    @media only screen and (max-width: 768px) {
      .contacto .contacto_titulo {
        font-size: 75px; } }
    @media only screen and (max-width: 576px) {
      .contacto .contacto_titulo {
        font-size: 60px; } }
  .contacto .grid_contacto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
    margin-top: -30px; }
    @media only screen and (max-width: 992px) {
      .contacto .grid_contacto {
        display: grid;
        grid-template-columns: 1fr; } }
    .contacto .grid_contacto .contacto_contenedor_texto {
      padding-right: 60px; }
      @media only screen and (max-width: 768px) {
        .contacto .grid_contacto .contacto_contenedor_texto {
          padding-right: 0; } }
      .contacto .grid_contacto .contacto_contenedor_texto .contacto_texto {
        font-size: 22px;
        color: #434D59;
        text-align: justify; }
    .contacto .grid_contacto .contacto_contenedor_formulario {
      padding-left: 60px; }
      @media only screen and (max-width: 768px) {
        .contacto .grid_contacto .contacto_contenedor_formulario {
          padding-left: 0;
          text-align: center;
          padding-top: 20px; } }
      .contacto .grid_contacto .contacto_contenedor_formulario .contacto_formulario .place_formulario {
        width: 70%;
        border: 1px solid #434D59;
        border-radius: 2px;
        padding: 8px 9px;
        margin: 7px auto;
        letter-spacing: 1px;
        -webkit-text-stroke-width: 0.6px;
        -webkit-text-stroke-color: #434D59;
        font-size: 15px; }
      @media only screen and (max-width: 768px) {
        .contacto .grid_contacto .contacto_contenedor_formulario .contacto_formulario {
          width: 100%; } }
      .contacto .grid_contacto .contacto_contenedor_formulario .contacto_formulario .button_contenedor {
        text-align: auto; }
        .contacto .grid_contacto .contacto_contenedor_formulario .contacto_formulario .button_contenedor .button_formulario {
          padding: 12px 27px;
          background-color: #434D59;
          color: #fff;
          border: none;
          border-radius: 2px;
          font-size: 17px;
          font-weight: 600; }
  .contacto .contacto_contenedor_formulario_secundario {
    text-align: center; }
    .contacto .contacto_contenedor_formulario_secundario .place_formulario_secundario {
      width: 50%;
      border: 1px solid #434D59;
      border-radius: 2px;
      padding: 8px 9px;
      margin: 7px auto;
      letter-spacing: 1px;
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: #434D59;
      font-size: 15px; }
    .contacto .contacto_contenedor_formulario_secundario .place_formulario_especial {
      width: 52%;
      border: 1px solid #434D59;
      border-radius: 2px;
      padding: 8px 9px;
      margin: 7px auto;
      letter-spacing: 1px;
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: #434D59;
      font-size: 15px; }
    .contacto .contacto_contenedor_formulario_secundario .button_contenedor {
      text-align: auto; }
      .contacto .contacto_contenedor_formulario_secundario .button_contenedor .button_formulario {
        padding: 12px 27px;
        background-color: #434D59;
        color: #fff;
        border: none;
        border-radius: 2px;
        font-size: 17px;
        font-weight: 600; }

.contacto_especial {
  background-color: #F2EFC2; }
  .contacto_especial .contacto_titulo {
    font-size: 90px;
    font-weight: 800;
    color: #434D59;
    text-align: center;
    letter-spacing: -5px;
    margin-top: 10px; }
    @media only screen and (max-width: 768px) {
      .contacto_especial .contacto_titulo {
        font-size: 75px; } }
    @media only screen and (max-width: 576px) {
      .contacto_especial .contacto_titulo {
        font-size: 60px; } }
  .contacto_especial .contacto_contenedor_formulario_secundario {
    text-align: center;
    margin-top: -50px; }
    @media only screen and (max-width: 768px) {
      .contacto_especial .contacto_contenedor_formulario_secundario {
        margin-top: -30px; } }
    .contacto_especial .contacto_contenedor_formulario_secundario .place_formulario_secundario {
      width: 50%;
      border: 1px solid #434D59;
      border-radius: 2px;
      padding: 8px 9px;
      margin: 7px auto;
      letter-spacing: 1px;
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: #434D59;
      font-size: 15px; }
      @media only screen and (max-width: 768px) {
        .contacto_especial .contacto_contenedor_formulario_secundario .place_formulario_secundario {
          width: 70%; } }
    .contacto_especial .contacto_contenedor_formulario_secundario .place_formulario_especial {
      width: 52%;
      border: 1px solid #434D59;
      border-radius: 2px;
      padding: 8px 9px;
      margin: 7px auto;
      letter-spacing: 1px;
      -webkit-text-stroke-width: 0.6px;
      -webkit-text-stroke-color: #434D59;
      font-size: 15px; }
      @media only screen and (max-width: 768px) {
        .contacto_especial .contacto_contenedor_formulario_secundario .place_formulario_especial {
          width: 75%; } }
    .contacto_especial .contacto_contenedor_formulario_secundario .button_contenedor {
      text-align: auto; }
      .contacto_especial .contacto_contenedor_formulario_secundario .button_contenedor .button_formulario {
        padding: 12px 27px;
        background-color: #434D59;
        color: #fff;
        border: none;
        border-radius: 2px;
        font-size: 17px;
        font-weight: 600; }

/* Footer */
.footer {
  background-color: #292929; }
  .footer .grid_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    @media only screen and (max-width: 992px) {
      .footer .grid_footer {
        display: grid;
        grid-template-columns: 1fr 1fr; } }
    @media only screen and (max-width: 768px) {
      .footer .grid_footer {
        grid-template-columns: 1fr;
        text-align: left; } }
    .footer .grid_footer .footer_titulo {
      font-size: 20px;
      font-weight: 600;
      color: #fff; }
    .footer .grid_footer .footer_texto {
      font-size: 16px;
      color: #fff; }
